<?xml version="1.0" encoding="UTF-8" ?>
<suite name="api suite">
    <test name="test module">
        <classes>
            <class name="com.tester.extent.report"/>
            <methods>
                <include name="test1"/>
                <include name="test2"/>
                <include name="test3"/>
                <include name="logDemo"/>
            </methods>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
    </listeners>

</suite>